.card {
  max-width: 413px;
  min-height: 445px;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
  display: block;
}

.card__caption {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  transition: opacity 0.3s;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 1;
}

@media screen and (max-width: 630px) {
  .card {
    max-width: 100%;
    min-height: 318px;
  }

  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__caption {
    font-size: 16px;
    line-height: 1;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
    background-position: center;
    background-size: cover;
  }
}
