.cards {
  padding: 20px 0 40px;
  border-bottom: 1px #000 solid;
}

.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  justify-content: center;
}

@media screen and (max-width: 630px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .cards {
    padding-bottom: 20px;
  }
}
